@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');

*{
    margin: 0;
}
/*Formatação body*/
body {
    background: #F5F5F5;
    overflow-x: hidden;
}

/*Menu*/

nav {
    background: #5DC1D8;
}

#container1 {
    width: 100%;
    height: 50px;
    padding: 20px;
    /*border: 1px solid red;*/
    margin: 0 auto;
    box-sizing: border-box;
    margin-bottom: 70px;
    background: #5DC1D8;
    
}

#container1 nav li {
    font-family: Roboto;
    color: white;
    font-weight: bold;
    list-style: none;
    margin-top: 0px;
    margin-right: 40px;
    
}

#container1 nav li ul {
    margin-left: -10px;
    margin-right: 25px;
    /*border: 1px solid red;*/
    padding: 0;
    float: right;
    

}

nav li ul#logo {
    float: left;
    margin-left: 50px;
    font-size: 1.5em;
    margin-top: -10px;
    padding-top: 5px;
    box-sizing: border-box;
   
}

/*Conteudo*/

.titulo1 {
    text-align: center;
    font-family: 'Roboto Condensed';
    
}

.informacao {
    text-align: center;
    font-family: Roboto;
    width: 80%;
    margin: 0 auto;

}

iframe {
    margin-left: 30%;
}

li#maissobre {
    list-style: none;
}

li#maissobre ul a {
    color: black;
}
/*parte roxa*/

div#roxo {
    height: 490px;
    /*border: 1px solid red;*/
    background-color: #1A2B63;
    color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    font-family: Roboto;
    align-items: center;
    margin-bottom: 50px;
    width: 100%;
}

.icone {
    width: 180px;
    /*border: 1px solid red;*/
}

.texto {
    width: 180px;
    text-align: center;
}

div.informacao a {
    color: black;
}

/*Downloads*/

div#download h2 {
    text-align: center;
    font-family: Roboto;
}

div#down {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 100px;
    margin-bottom: 50px;
}

div.botão {
    width: 188px;
    height: 61px;
    background: #5DC1D8;
    border-radius: 20px;
    margin: 0 auto;
    text-align: center;
    line-height: 61px;
    font-family: Roboto;
    color: white;
    font-size: 1.5em;
    /*/*border: 1px solid red;*/
    margin-top: 20px;
}

.iconedown {
    width: 200px;
}

/*links*/

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
}

a#botoes:hover {
    text-decoration: none;
}
/*rodape*/

footer {
    clear: both;
    height: 70px;
    background-color: #1A2B63;
    color: white;
    text-align: center;
    font-family: Roboto;
    padding-top: 15px;
    width: 100%;
}

@media (min-width: 1367px){

    nav {
        font-size: clamp(1em, 1.5em + 1.5vw, 2.0em) ;
     }
    div.flex {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        }
    
    div.flex div#caixa1 {
        font-family: Oswald;
        color: white;
        /*border: 1px solid red;*/
        padding-bottom: 0px;
        margin-bottom: 30px;
        width: 40%;
    }
       
    #titulo1{
        width: 400px;
        font-size: clamp(1em, 1.5em + 1.5vw, 4em);
        margin: 0 auto;
        text-align: center;
    }

    #imagem1 {
        /*border: 1px solid red;*/
        margin-top: -80px;
        margin-bottom: 30px;
           
    }
    
    #imagem2 {
        /*border: 1px solid red;*/
        margin-bottom: 30px;
        
    }
    
    .subt1 {
        text-align: center;
    }
    
    
    div.flex div#titulo2 {
        /*border: 1px solid red;*/
        width: 50%;
        font-family: Roboto;
        font-size: clamp(1em, 1.5em + 1.5vw, 3em);
        margin-top: 90px;
        padding-right: 90px;
        margin-bottom: 30px;
        
    }
    
    div.flex div#titulo3 {
        /*border: 1px solid red;*/
        width: 50%;
        font-family: Roboto;
        font-size: clamp(1em, 1.5em + 1.5vw, 3em);
        margin-top: 90px;
        margin-bottom: 50px;
        
    }
    
    #imagem3 {
        /*border: 1px solid red;*/
        margin-bottom: 50px;
        margin-right: -50px;
    }

    .imagemtam {
        /*border: 1px solid red;*/
        width: 40%; 
    }

    img#imagem1 {
        margin: 0 auto;
        padding-left: 30%;
        width: 60%;
    }

    img#imagem2 {
        margin: 0 auto;
        padding-left: 30%;
        width: 60%;
    }

    img#imagem3 {
        margin: 0 auto;
        padding-left: 30%;
        width: 60%;
    }
    
    .icone {
        width: 100%;
        height: 100%;
    
    }
    div#roxo {
        font-size: clamp(1em, 1.5em + 1.5vw, 1.5em);
        height: 590px;
    }

    h2#comece {
        font-size: clamp(1em, 1.5em + 1.5vw, 2.5em);
    }

    div#down {
        font-size: clamp(1em, 1.5em + 1.5vw, 1.5em)
    }

    
    div.texto {
        width: 300px;
        justify-content: space-around;
    }

    div#down {
        width: 100%;
        /*border: 1px solid red;*/
    }

    img.iconedown {
        width: 100%;
        /*border: 1px solid red;*/
        
    }
    
    div.alinhamento {
        position: relative;
        /*border: 1px solid red;*/
        width: 400px;
        
    }

    div.botão {
        width: 50%;
        height: 50%;
    }

    footer {
        font-size: clamp(1em, 1.5em + 1.5vw, 1.5em) ;
        height: 100%;
    }
}

@media (max-width: 1250px){

    div.flex div#caixa1 {
        color: #DCDCDC;
        text-shadow: 2px 1px 3px black;
    }
}

@media (max-width: 1054px){
    *{
        overflow-x: hidden;
        text-align: center;
    }

    nav li ul#logo {
        float: left;
        margin-left: 50px;
        font-size: 1.5em;
        margin-top: -10px;
        padding-top: 5px;
        box-sizing: border-box;
    }
    img {
        display: none;
    }

    div.flex {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
    }

    div.flex div#caixa1 {
        font-family: Oswald;
        font-size: 1.5em;
        color: #DCDCDC;
        text-shadow: 2px 1px 3px black;
        /*border: 1px solid red;*/
        margin-bottom: 50px;
        margin: 0 auto;
        
    }

    #titulo1{
        width: 100%;
        font-size: 1.7em;
    }
    
    div.flex div#titulo2 {
        /*border: 1px solid red;*/
        width: 100%;
        font-family: Roboto;
        font-size: 1.2em;    
        padding: 10px;
        box-sizing: border-box;
    }

    div.flex div#titulo3 {
        /*border: 1px solid red;*/
        width: 100%;
        font-family: Roboto;
        font-size: 1.2em;
        margin-top: 90px;
        margin-bottom: 50px;
        padding: 10px;
        box-sizing: border-box;
        
    }

    div#down {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 100px;
        margin-bottom: 50px;
    }

    div#down img {
        display: inline-block;
        width: 150px;
        margin-top: 20px; 
    }
    
    div#download h2 {
        text-align: center;
        font-family: Roboto;
        font-size: 1.2em;
        padding: 5px;
    }

    footer {
        clear: both;
        height: 60px;
        background-color: #1A2B63;
        color: white;
        text-align: center;
        font-family: Roboto;
        padding-top: 15px;
        width: 100%;
        font-size: 0.9em;
    }

    div#roxo {
        height: 100%;
        /*border: 1px solid red;*/
        background-color: #1A2B63;
        color: white;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        font-family: Roboto;
        align-items: center;
        margin-bottom: 50px;
        width: 100%;
        padding-top: 20px;
        
    }

    .texto {
        width: 180px;
        text-align: center;
        margin-bottom: 20px;
    }

    div#roxo img {
        display: inline-block;
        width: 150px;
        
    }
}

@media (max-width: 768px) {

    #container1 nav li ul {
        font-size: 1.2em;
    }

    nav li ul#logo {
        float: left;
        margin-left: 50px;
        font-size: 2em;
        margin-top: -10px;
        padding-top: 5px;
        box-sizing: border-box;
    }
    
    div.flex div#caixa1 {
        font-size: 1.5em;
        
    }

    div.flex div#titulo2 {
       font-size: 1.2em;
       
    }

    div.flex div#titulo3 {
        font-size: 1.2em;
    
    }

    div#roxo {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

    }

    div#roxo img {
        display: inline-block;
        width: 150px;
        
    }

    div#down {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-top: 100px;
        margin-bottom: 50px;
    }
}
